#main {
    display:grid;
    grid-template: 120px 1fr 1fr 1fr 80px / 200px 1fr 1fr 1fr 1fr;
    background-color: darkred;
    height:95vh;
    min-height: 800px;
}

#header {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: gainsboro;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin:5px;
}

#headerText {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.headerLogo {
    margin:10px;

}

.headerLogo img {
    max-height: 80px;
}


#sideBar{
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:5;
    background-color:gainsboro;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items:center;
    margin:5px;
}

.sideBarLink{
    padding:5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    width:80%;
    text-align:center;
}

.sideBarLink a {
    text-decoration: none;
    color:darkred;
    text-shadow: black;
}

#body {
    grid-column-start: 2;
    grid-column-end:6;
    grid-row-start:2;
    grid-row-end:5;
    background-color: ghostwhite;
    border-radius: 10px;
    margin:5px;
    text-align: center;
}

#locations {
    display:flex;
    flex-wrap: wrap;
}

.location {
    height:100px;
    width:80px;
    margin:10px;
    background-color: darkcyan;
    box-shadow: 5 5 5 5 black;
}

#footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start:5;
    grid-row-end:6;
    background-color: gainsboro;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin:5px;
}